*.log
*.recover
Checkpoint_Outputs/*
!Checkpoint_Outputs/README.md
!Checkpoint_Outputs/Archive/
Checkpoint_Outputs/Archive/*
!Checkpoint_Outputs/Archive/README.md
Intermediary_Outputs/*
!Intermediary_Outputs/README.md
Code/githash.txt